{% extends "base_user.html" %}

{% block body_content %}
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h2>Confirm Take Item</h2>
                </div>
                <div class="card-body">
                    <p>Are you sure you want to take the following item?</p>
                    <h4>{{ item.item_name }}</h4>
                    <p><em>Given by: {{ item.give_user.profile.name }}</em></p>
                    
                    <form method="POST">
                        {% csrf_token %}
                        <div class="form-group mt-3">
                            <button class="btn btn-success" type="submit">Yes, Take It</button>
                            <a href="{% url 'take_item' %}" class="btn btn-secondary">Cancel</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}