{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %}Login - {{ block.super }}{% endblock %}

{% block body_content %}
    <div class="container w-60" style="min-width:300px; max-width: 550px;">
        <form method="POST">
            {% csrf_token %}
            <fieldset>
                <legend><h2>Log In to Your Account</h2></legend>
                {{ form|crispy }}
            </fieldset>
            <div>
                <button type="submit">Log In</button>
            </div>
        </form>
        <div style="margin-top: 15px; border-top: 1px solid #ccc; padding-top: 15px;">
            <small>
                Don't Have An Account? <a href="{% url 'register_view' %}">Sign Up Here</a>
            </small>
        </div>
    </div>
{% endblock %}