{% extends "base_admin.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block body_content %}

    <h2>Reset User Password</h2>
    <br/>
    <div class="container w-60" style="min-width:300px; max-width: 550px;">
        <form name="resetForm" action="/sysadmin/reset_pwd/" method="POST">
            {% csrf_token %}

            <div class="mb-3">
                <label for="user_phone" class="form-label">User Register Phone Number:</label>
                <input type="text" class="form-control" required pattern="\d{8}" title="input phone number must be 8-digit" name="user_phone" id="user_phone" aria-describedby="user_phoneHelp">
                <div id="user_phoneHelp" class="form-text">Please input user registered phone number (** 8 digit)</div>
            </div>
            <div class="mb-3">
                <label for="new_pwd" class="form-label">New Password:</label>
                <input type="password" class="form-control" required minlength="3" maxlength="10" name="new_pwd" id="new_pwd">
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

{% endblock %}